[submodule "external/spglib"]
	path = external/spglib
	url = https://github.com/spglib/spglib.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/XtalComp"]
	path = external/XtalComp
	url = https://github.com/allisonvacanti/XtalComp.git
